/* Overwrite simple.css colours with custom colors */
:root {
  --bg: #25274d;
  --accent-bg: #25274d;
  --text: #d9e1e8;
  --text-light: #9baec8;
  --dark-red: #951818;
  --border: #AAABB8;
  --accent: #29648A;
  --accent-light: #2e9cca;
  --code: #eb6d33;
  --preformatted: #9baec8;
  --marked: #aeb0b3;
  --disabled: #282d37;
  --dark: #464866;
  --light: #dbe5ee;
}

/* Override Simple.css Dark theme */
@media (prefers-color-scheme: dark) {
  img, video {
    opacity: 1;
  }
}

header {
  background: var(--dark);
}

/****** Format the nav bar ******/
nav {
  font-size: 1.0rem;
  padding-top: 1.25rem;
  position: absolute;
  right: 0;
}

nav a,
nav a:visited {
  border: none;
  padding: 0;
  color: var(--light);
  text-decoration: none;
}

nav a:hover {
  border: none;
  color: var(--light);
  text-decoration: underline;
}

/****** Header elements ******/
.head-banner {
  margin: 0 10vw;
  background: var(--dark);
  position: relative;
  display: flex;
  height: 4rem;
  overflow: hidden;
}

.site-logo {
  text-align: center;
  padding-top: .75rem;
  position: relative;
  height: 2.5rem;
}

.site-logo a {
  text-decoration: none;
}

a:hover>.site-logo {
  opacity: .8;
}

@media only screen and (max-width: 750px) {

  .head-banner,
  .page-banner h1 {
    margin: 0 1rem;
    display: block;
    height: auto;
  }

  .site-logo {
    padding-top: 1rem;
    display: block;
    margin: 0 auto;
  }

  nav {
    display: block;
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 2.5;
  }
}


/****** Additional text decorations ******/
.medium {
  font-size: 1.6rem;
  line-height: 1.3;
}

.smedium {
  font-size: 1.25rem;
  line-height: 1.3;
}

.container {
  position: relative;
  height: 128px;
  width: 128px;
}

.container:hover .overlay {
  opacity: .2;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 5px;
  background-color: #4ea2df;
}

.center {
  text-align: center;
}

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
  margin-bottom: 1rem;
}