/* Import the main SimpleCSS stylesheet */
@import url("https://cdn.simplecss.org/simple.min.css");

/* Overwrite simple.css colours with Mastodon colours */
:root {
  --bg: #282d37;
  --accent-bg: #1F232B;
  --text: #d9e1e8;
  --text-light: #9baec8;
  --dark-red: #951818;
  --border: #9baec8;
  --accent: #4ea2df;
  --accent-light: #79b9e7;
  --code: #F06292;
  --preformatted: #9baec8;
  --marked: #79b9e7;
  --disabled: #282d37;
}

/* Override Simple.css Dark theme */
@media (prefers-color-scheme: dark) {
  img, video {
    opacity: 1;
  }
}

.post-description {
  font-size: 1rem;
  font-style: italic;
}

.post-meta {
  color: var(--text-light);
  font-size: .9rem;
}

.blog-item {
  margin-bottom: 3rem;
}

.blog-item a {
  font-size: 1.4rem;
}

.head-banner {
  margin: 0 10vw;
  background: var(--dark);
  position: relative;
  display: flex;
  height: 4rem;
  overflow: hidden;
}

.site-logo {
  text-align: center;
  padding-top: .75rem;
  position: relative;
  height: 2.5rem;
}

.site-logo a {
  text-decoration: none;
}

a:hover>.site-logo {
  opacity: .8;
}

nav {
  font-size: 1.1rem;
  padding-top: 1.25rem;
  position: absolute;
  right: 0;
}

nav a,
nav a:visited,
nav a:focus {
  padding: .5rem .75rem;
  color: var(--light);
  text-decoration: none;
}

nav a:hover,
nav a.current {
  color: var(--dark) !important;
  background: var(--light);
}